.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
 .page-container {
   padding: 48px 0;
   max-width: 1000px;
   margin: auto;
 }

 .block-container {
   margin-top: 32px;
   padding: 0 24px;
 }

 .text-row {
   display: flex;
   justify-content: center;
   margin-top: 8px;
 }

 .content-text {
   text-align: initial;
   font-family: 'Maison Neue, sans-serif';
   font-size: 16px;
   color: #33353a;
   line-height: 1.38;
 }

 .content-image {
     width: 100%;
     padding-bottom: 19%;
     background-size: cover;
     background-position: center center;
     background-repeat: no-repeat;
     border-radius: 2px;
 }

 .result-image {
     width: 100%;
     padding-bottom: 28%;
     background-size: cover;
     background-position: center center;
     background-repeat: no-repeat;
     border-radius: 2px;
     margin-top: 24px;
 }

 .paper-download {
     width: 140px;
     height: 140px;
     cursor: pointer;
 }